@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil:wght@100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
body {
  background: #f4f1de;
  font-family: "Rajdhani", sans-serif;
}

.saira-stencil-main {
  font-family: "Saira Stencil", sans-serif;
  font-weight: 300, bold;
}